@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Styles for chat icon */
.chat-icon {
    z-index: 1000;
    cursor: pointer;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.chat-icon-close {
    height: 50px;
    width: 50px;
    text-align: center;
    align-content: center;
}

.chat-icon-left {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.chat-icon-right {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

/* Styles for chat box */
.chat-box {
    z-index: 1000;
    border-radius: 20px;
    position: fixed;
    right: 40px;
    bottom: 90px;
    width: 100%; /* default for mobile devices */
    max-width: 350px; /* ensure it doesn't exceed a specific width */
    height: 100%; /* default for mobile devices */
    max-height: 540px; /* ensure it doesn't exceed a specific height */
    background-color: #f5f5f5;
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.16);
    display: flex;
    flex-direction: column;
    display: visible; /* Hide chat box by default */
}

.chat-box.show {
    display: flex; /* Show chat box when it has the 'show' class */
}

.chat-box-close{
    display: none; 
}


.close-btn {
    cursor: pointer;
    margin: 5px;
}

.chat-box-header {
    font-family: 'Segoe UI', sans-serif;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #990000;
    padding: 10px 15px;
    height: 54px;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
}

.chat-box-header .chat-box-logo-container {
    width: 50px;
    height: 50px;
    display: flex;
    background-color: white;
    border-radius: 25px;
}

.chat-box-header img {
    padding: 5px;
    height: 40px;
    width: 40px;
    object-fit: contain;
    border-radius: 100%;
}

.chat-box-header h1 {
    font-size: 18px;
}

.chat-box-header-text {
    display: block;
    padding: 0;
    margin-left: 10px;
    align-items: center;
}

.chat-box-header-logo-wrapper {
    justify-content: center;
    align-items: center;
    display: flex;
}

.chat-box-header-text h1 {
    margin: 0;
}

.chat-box-header-text p {
    margin: 0;
}

.chatpane {
    flex: 1; /* take up all available space */
    overflow-y: auto;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
}

button {
    margin: 5px;
}

.child-div {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 1px 10px 1px 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s ease;
}

.child-div span {
    margin-inline-start: 5px;
}

.child-div:hover {
    transform: scale(1.05);
}

.child-div img {
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 100%;
    background-color: white;
    margin-right: 5px;
    object-fit: contain;
}

.webchat {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Define the shake animation */
@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-2px);
    }

    100% {
        transform: translateX(0);
    }
}

/* Additional responsive styles */
@media (max-width: 640px) {
    .chat-box {
        z-index: 1000;
        width: 100vw;
        max-height: 100vh;
        max-width: 640px;
        bottom: 0;
        right: 0;
        border-radius: 0;
    }

    .chatpane {
        height: 100vh; /* adjust height based on header */
    }

    .close-btn {
        display: block; /* Show close button on mobile and tablet */
    }

    .chat-box-close{
        display: block; 
        cursor: pointer;
    }
}


/* Typing indicator container */
.typing-indicator-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
    padding-left: 16px; /* Adjust as needed to align with the bot message padding */
}

/* Typing indicator bubbles */
.typing-indicator {
    display: flex;
    align-items: center;
}

.typing-indicator span {
    width: 8px;
    height: 8px;
    margin: 0 2px;
    background-color: #000; /* Adjust the color to match the bot message text color */
    border-radius: 50%;
    display: inline-block;
    animation: typing 1.4s infinite ease-in-out;
}

.typing-indicator span:nth-child(2) {
    animation-delay: -1.1s;
}

.typing-indicator span:nth-child(3) {
    animation-delay: -0.8s;
}

@keyframes typing {
    0%, 80%, 100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}
